<!DOCTYPE html>
<html ng-app="HejHejLiteApp">
<head>
  <meta charset="UTF-8">
  <title>Hej Hej Lite</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="/jquery/dist/jquery.js"></script>
  <script src="/angular/angular.js"></script>
  <script src="/handlebars/handlebars.js"></script>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="/javascript/app.js"></script>
  <script src="/javascript/users_controller.js"></script>
  <script src="/javascript/flashcards_controller.js"></script>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <div class="wrapper">

  <!-- nav bar -->
  <nav class="navbar navbar-default navbar-fixed-top" style="background: #005293; border: none">
    <div class="container">
      <ul class="nav navbar-nav navbar-right">
       <!--  <button type="button" class="btn btn-default navbar-btn">Sign up</button> -->
<!--         <button type="button" class="btn btn-default navbar-btn">Log in</button> -->
      </ul>
    </div>
  </nav>

  

  <!-- welcome div -->  
  <div class="jumbotron">
    <div class="container">
      <h1 style="font-size: 14em">Hej!</h1>
      <p><a class="btn btn-primary btn-lg" href="#" role="button" id="show-flashcard">Vill du spela?</a></p>
      <ul id="score">
        <p style="font-size: 4em" id="points"></p>
      </ul>
    </div>
  </div>

  <!-- flashcard div -->

    <div class="row hidden" id="random-flashcard">
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="<%= flashcard.img %>" alt="..." id="img" class="hidden">
            <div class="caption">
              <h3><%= flashcard.name %></h3>
              <p>
              <input type="text" id="guess"></input>
              <a href="#" class="btn btn-primary" role="button" id="submit">Submit</a>
              <a href="#" class="btn btn-primary" role="button" id="show-hint">Hint</a>
              <a href="#" class="btn btn-primary" role="button" id="show-answer">Answer</a>
              <a href="#" class="btn btn-primary" role="button" id="show-answer">Next</a>

              <br>
              <a href="#" class="btn btn-default" role="button" id="edit">Edit</a>
              <a href="#" class="btn btn-default" role="button" id="delete">Delete</a>
              </p>
              <h3 class="hidden" id="answer"><%= flashcard.english %></h3>
              <h3 class="hidden" id="response"></h3>
            </div>         
          </div>
        </div>
      </div>

  </div>
  <script src="/javascript/main.js"></script>
</body>
</html>
