<!DOCTYPE html>
<html ng-app="HejHejLiteApp">
<head>
  <meta charset="UTF-8">
  <title>Hej Hej Lite</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="/jquery/dist/jquery.js"></script>
  <script src="/angular/angular.js"></script>
  <script src="/javascript/app.js"></script>
  <script src="/javascript/users_controller.js"></script>
  <script src="/javascript/flashcards_controller.js"></script>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <div class="wrapper">
    <div class="splash">
      <h1>Hej!*</h1>
      <h2>Vill du spela?</h2>
      <p>*Hej Hej Lite is a fun, simple full-stack Javascript app for studying Swedish vocabulary and grammar.</p>
    </div>

    <div ng-controller="UsersController as users">
      <input type="text" ng-model="users.new">
      <button ng-click="users.add()" id="save">Sign Up</button>
      <ul id="users">
        <li ng-repeat="user in users.all">{{User.name}}</li>
      </ul>
    </div>

    <div ng-controller="FlashcardsController as flashcards">
      <input type="text" ng-model="flashcards.new">
      <button ng-click="flashcards.add()" id="save">Add Flashcard</button>
      <ul id="flashcards">
        <li ng-repeat="dog in flashcards.all">{{Flashcard.name}}</li>
      </ul>
    </div>

  </div>  
</body>
</html>
